#client {
  max-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.client-title {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}

.client-description {
  font-weight: 300;
  font-size: 1rem;
  max-width: 51rem;
  padding: 0 2rem;
}

.client-imgs {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.client-img {
  object-fit: cover;
  width: 23%;
  min-width: 9rem;
  margin: auto;
  padding: 0.25rem;
}
