#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skills-title{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skills-description{
    font-weight: 300;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 2rem;
}

.skills-bars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.skills-bars h3 {
    margin: 3rem 0 2rem 0;
}

.skills-bar{
    display: flex;
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: rgba(50, 50, 50, 1);
}

.skills-bar-img{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}


.skills-bar-text > p {
    font-size: 0.9rem;
    font-weight: 200;
}

.skill-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skill-title span{
    color: blueviolet;
    margin-right: 2rem;
    cursor: pointer;
}
.skill-body{
    display: none;
}

.skill-body1{
    display: none;
}



@media screen and (max-width:720px) {
    .skills-bar-text > p {
        font-size: 2vm;
    }
}

@media screen and (max-width:480px) {
    .skills-bar-text > p {
        font-size: 3vm;
    }
    .skills-bar-img{
        height: 2.25rem;
        width: 2.25rem;
    }
    .skills-bar-text > h2 {
        font-size: 5vw;
    }
}